body {
    background-color: rgba(150, 143, 143, 0.342);
    text-align: center;
}

form {
    width: 500px;
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    display: inline-block;
    margin-top: 150px;
    max-width: 500px;
    min-width: 20px;
    
    
}

input {
    margin-top: 75px;
    cursor: pointer;
}
